In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df = df[df.product_type == 'uberX']

In [4]:
df.head()

,timestamp,surge_multiplier,expected_wait_time,product_type,start_location_id
5,2016-06-15 07:10:42,1.0,180.0,uberX,17.0
12,2016-06-15 07:10:42,1.0,660.0,uberX,36.0
19,2016-06-15 07:10:42,1.0,300.0,uberX,34.0
26,2016-06-15 07:10:42,1.0,120.0,uberX,39.0
33,2016-06-15 07:10:42,1.0,180.0,uberX,41.0

In [5]:
x = df.start_location_id.unique()

In [6]:
x.sort()

In [7]:
x

array([   1.,    2.,    3.,    4.,    5.,    6.,    7.,    8.,    9.,
         10.,   11.,   12.,   13.,   14.,   15.,   16.,   17.,   18.,
         19.,   20.,   21.,   22.,   23.,   24.,   25.,   26.,   27.,
         28.,   29.,   30.,   31.,   32.,   33.,   34.,   35.,   36.,
         37.,   38.,   39.,   40.,   41.,   42.,   43.,   44.,   45.,
         46.,   47.,   48.,   49.,   50.,   51.,   52.,   53.,   54.,
         55.,   56.,   57.,   58.,   59.,   60.,   61.,   62.,   63.,
         64.,   65.,   66.,   67.,   68.,   69.,   70.,   71.,   72.,
         73.,   74.,   75.,   76.,   77.,   78.,   79.,   80.,   81.,
         82.,   83.,   84.,   85.,   86.,   87.,   88.,   89.,   90.,
         91.,   92.,   93.,   94.,   95.,   96.,   97.,   98.,   99.,
        100.,  101.,  102.,  103.,  104.,  105.,  106.,  107.,  108.,
        109.,  110.,  111.,  112.,  113.,  114.,  115.,  116.,  117.,
        118.,  119.,  120.,  121.,  122.])